.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(/assets/videos/hero-bg.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: linear-gradient(180deg, navy, rgb(30, 30, 220), white);
    color: #f1f1f1f1;
    position: relative;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1s forwards;
}

.hero-two-col {
    width: 80vw;
    margin: 0 auto !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.left-hero span {
    width: min-content;
    white-space: nowrap;
    padding: 10px 15px;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(90px);
    border: 0.1px solid rgba(192, 192, 192, 0.504);
    border-radius: 35px;
}

.left-hero h1 {
    font-size: 4rem;
}

.left-hero h2 {
    color: rgba(225, 225, 225, 0.8);
    height: 50px;
}

.right-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.btn-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: min-content;
    margin-top: 10px;
}

.btn-holder button:nth-child(2) {
    background: rgba(225, 225, 225, 0.1);
    border: 0.1px solid rgba(192, 192, 192, 0.504);
    color: #f1f1f1f1;
}

.btn-holder button:nth-child(2):hover {
    background: #f1f1f1;
    border: 0.1px solid rgba(192, 192, 192, 0.504);
    color: #1f1f1f;
}

.right-hero img {
    width: 90%;
    object-fit: cover;
    animation: AnimateUpandDown 5s ease-in-out infinite;
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.4));
}

@keyframes AnimateUpandDown {
    50% {
        transform: translateY(-30px);
    }
}

.tiny {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 5%;
    top: 10%;
    animation: AnimateUpandDown 3s ease-in-out infinite;
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.4));
}

.tiny1 {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 5%;
    top: 10%;
    animation: AnimateUpandDown 3s ease-in-out infinite;
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.4));
}

.tiny2 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 5%;
    bottom: 10%;
    animation: AnimateUpandDown 3s ease-in-out infinite;
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.4));
}

.tiny3 {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 50%;
    top: 60%;
    animation: AnimateUpandDown 3s ease-in-out infinite;
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.4));
}

.tiny4 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 40%;
    animation: AnimateUpandDown 3s ease-in-out infinite;
    filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.4));
}

.section-change {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 1;
    transform: translateY(-20px);
}

@media (max-width: 768px) {
    .hero-two-col {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 100px;
        height: auto;
    }

    .left-hero,
    .right-hero {
        padding: 10px;
        align-items: center;
        text-align: center;
        font-size: smaller;
    }

    .right-hero {
        height: 500px;
    }

    .right-hero img {
        width: 100%;
        height: auto;
        z-index: 1;
    }

    .left-hero h1 {
        font-size: 3rem;
    }

    .tiny2 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 5%;
        top: 40%;
        animation: AnimateUpandDown 3s ease-in-out infinite;
        filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.4));
        z-index: 2;
    }

    .tiny3 {
        position: absolute;
        width: 100px;
        height: 100px;
        right: 10%;
        top: 30%;
        animation: AnimateUpandDown 3s ease-in-out infinite;
        filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.4));
        z-index: 2;
    }
}